body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}

.bg_color {
  background-color: yellow;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.clicked {
  color: tomato;
  font-weight: bold;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
