body {
  font-family: sans-serif;
  padding: 40px;
}

.accordion .item {
  margin-bottom: 10px;
}

.question {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  background: #eee;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.answer {
  display: none;
  padding: 10px;
  background: #f9f9f9;
  border-left: 2px solid #ccc;
}

.answer.active {
  display: block;
}

.icon {
}
